<div class="home-avatar">
  <div class="avatar-frame" [class]="'size-' + size">
    <!-- Clean circular profile image -->
    <img [src]="profileImage" alt="Profile Image" class="profile-img" />
    
    <!-- Dual glow rings -->
    <div class="glow-rings">
      <div class="ring-1"></div>
      <div class="ring-2"></div>
    </div>
    
    <!-- Floating particles with ambient animation -->
    <div class="floating-particles">
      <div class="particle p-1"></div>
      <div class="particle p-2"></div>
      <div class="particle p-3"></div>
      <div class="particle p-4"></div>
      <div class="particle p-5"></div>
    </div>
    
    <!-- Single orbital system -->
    <div class="orbital-dots">
      <div class="orbit-ring"></div>
      <div class="dot dot-1"></div>
      <div class="dot dot-2"></div>
    </div>
    
    <!-- Energy pulse background -->
    <div class="energy-pulse"></div>
  </div>
</div>